/* @import '~echarts/dist/echarts.css'; */
:root {
  /*Paleta de colores*/
  --principal: #33FF99;
  --secundario: red;
  --neutroLuz: white;
  --neutroOscuridad: black;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--netroOscuridad);
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


