<div class="container">
  <h1 class="title">Восток</h1>
  <app-earth-animation></app-earth-animation>

  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/Namibie_Hoba_Meteorite_05.JPG"
          class="d-block w-50 h-50"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Hoba meteorite</h5>
          <p>
            The 60-tonne, 2.7 m-long (8.9 ft) long Hoba meteorite in Namibia is
            the largest known intact meteorite.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="assets/Novato_Meteorite_Impact_Pit.jpg"
          class="d-block w-50 h-50"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Novato meteorite</h5>
          <p>
            The impact pit made by a 61.9-gram Novato meteorite when it hit the
            roof of a house on 17 October 2012.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/Ahnighit,_34_tons_meteorite.jpg" class="d-block" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>Cape York meteorite</h5>
          <p>
            The Cape York meteorite, also known as the Innaanganeq meteorite, is
            one of the largest known iron meteorites.
          </p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
