.navbar {
  background-color: var(--neutroOscuridad) !important;
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 20px;
  background: linear-gradient(
    90deg,
    rgb(74, 2, 132) 0%,
    rgb(68, 2, 131) 0%,
    rgb(0, 0, 0)100%
  );
  z-index: 100000;
}

img {
  margin-right: 20px;
  height: 50px;
  width: auto;
}

.navbar-toggler{
  background-color: rgba(217, 217, 217, 1);
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--neutroLuz) !important;
}

.offcanvas-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000 !important;
}

li {
  cursor: pointer;
}

.nav-item {
  padding: 1em;;
  font-size: 1.5em;
}
