.carousel-indicators button {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.carousel{
    padding: 3em;
    margin-top: 5em;
}

.carousel-control-prev,
.carousel-control-next {
    width: 80px;
}

.carousel-caption {
    top: 37%;
    left: 50%;
    transform: translate(-50%);
    color: var(--neutroLuz);
}

img {
    border-radius: 3em;
    border-color: rgba(217, 217, 217, 1);
    width: 50%;
    height: 60vh;
    filter: brightness(40%);
}

p,
h1 {
    color: var(--neutroLuz);
    text-align: center;
    margin-bottom: 20px;
}